 # My Jupyter Notebook on IBM Watson Studio

<h2><b> Name-Harmandeep kaur</b></h2>
<h3>Occupation- Customer Service Representative</h3>

<p><i>I am interested in data science because I like playing with the data</p></i>

<h3>In my next code below it is a simple mathematics of adding two digits</h3>

In [1]:
1 + 1

2

<p> bulleted list</p>
<ul>
  <li>stone</li>
  <li>paper</li>
  <li>scissor</li>
</ul>
<p> numbered list</p>
<ol>
  <li>stone</li>
  <li>paper</li>
  <li>scissor</li>
</ol>
<p> tables</p>
<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid blue;
}
</style>
<body>



<table style="width:100%">
  <tr>
    <td>Harman</td>
    <td>Mandeep</td>
    <td>Anureet</td>
    <td>Sharan</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
    <td>8</td>
  </tr>
</table>


</body>
</html>